/* Boton.css */
.boton {
    background-color: #1E9AAA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #137c89;
  }
  
  